@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales pour clair */
@layer base {
  :root {
    --color-background: #ffffff; /* Blanc pour un fond lumineux */
    --color-text: #0a1e2c;        /* Bleu nuit pour le texte principal */
    --color-primary: #0055A4;     /* Bleu EDF */
    --color-link: #0055A4;        /* Lien bleu EDF */
    --color-link-hover: #FF7900;  /* Hover orange EDF */
  }

  body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: system-ui, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
  }

  a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }

  .header-icon:hover {
    color: var(--color-link-hover);
  }
  .section-title {
    color: var(--color-primary);
  }
  li {
    color: var(--color-primary);
  }
}

/* Variables globales pour dark mode */
@layer base {
  body.dark {
    --color-background: #0a1e2c; /* Bleu nuit pour le fond en dark mode */
    --color-text: #e5e7eb;       /* Gris clair pour le texte */
    --color-primary: #FF7900;    /* Orange EDF pour le dark mode */
    --color-link: #FF7900;       /* Orange EDF pour les liens */
    --color-link-hover: #ffaa4d; /* Orange plus clair au survol */

    background-color: var(--color-background);
    color: var(--color-text);
  }
}

/* Styles pour les boutons */
button, .button {
  transition: background-color 0.3s, color 0.3s;
}

button:hover, .button:hover {
  background-color: var(--color-link-hover);
  color: white;
}

/* Styles pour les sections */
.section {
  margin-bottom: 24px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.p-custom {
    padding: 10px;
}

.ph {
    color: var(--color-primary);
    margin-right: 2px;
}

@media print {
    body {
      background: white;
      margin: 0;
      padding: 0;
    }
    header, main, footer {
      box-shadow: none;
      background: white;
    }
}
